body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

/* MOBILE */
#mobile-menu {
  transition: all 0.3s ease-in-out;
}

#mobile-menu.hidden {
  opacity: 0;
  transform: translateY(-10px);
}

#mobile-menu:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}
